@charset "utf-8";


body {background-color: lightgray;}

.navbar {background-color: darkcyan}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

}

/* Float four columns side by side */
.container {
  float: left;
  width: 25%;
  padding: 0 10px;
}


}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: antiquewhite;
  color: white;
  text-align: center;
}
</style>